* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.flex-container-column {
  display: flex;

  /* properti pendukung */
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
  text-align: right;
}
.flex-container-row {
  display: flex;
}
.button {
  flex-basis: 25%;

  /* properti pendukung */
  font-size: 2em;
  text-align: center;
  padding: 40px;
  border: 2px solid white;
  cursor: pointer;
  font-style: bold;
}
.double {
  flex-basis: 50%;
}
.display {
  color: white;
  width: 100%;
  padding: 10px 20px;
  background-color: #191414;
  border: 2px solid white;
  font-size: 2em;
}
.flex-container-row {
  color: #191414;
  background-color: #1fc58e;
}
.clear,
.operator,
.negative,
.equals {
  background: #fae62d;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 30px;
  margin-top: 20px;
}
.button:hover {
  font-weight: bold;
}
@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }
}
.history {
  width: 80%;
  margin: 30px auto 0 auto;
  overflow: scroll;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th,
td {
  text-align: center;
  padding: 16px;
}
th {
  background-color: #191414;
  color: white;
}

tr:nth-child(even) {
  background-color: #d2d2d2;
}
@media screen and (max-width: 513px) {
  .button {
    padding: 10px;
  }
  .history {
    width: 100%;
  }
}